.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid #ffffff;
}

.goToBack {
    z-index: 1;
    position: fixed;
    left: 9%;
    top: 9%;
    border-radius: 58px;
}

.slick-dots {
    bottom: -50px;
}

.sliderContainer {
    margin-bottom: 30px;
    width: 40%;

    img {
        width: 100%;
        height: auto;
    }
}

.containerCard {
    display: flex;
    gap: 5%;
    margin-top: 5%;
}